pool:
  vmImage: ubuntu-latest
variables:
  - group: 'sfkeyqa-group'
  - name: PhytonVersion
    value: '3.9'

stages:
  - stage: SnowfalkeTest
    jobs:
    - job: SnowfalkeTest
      steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '$(PhytonVersion)'
          displayName: 'Use Python $(PhytonVersion)'
      - script: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        displayName: 'Install dependencies'
      - task: replacetokens@5
        inputs:
          targetFiles: 'secret_qa.json'
          encoding: 'auto'
          tokenPattern: 'default'
          writeBOM: true
          actionOnMissing: 'warn'
          keepToken: false
          actionOnNoFiles: 'continue'
          enableTransforms: false
          enableRecursion: false
          useLegacyPattern: false
          enableTelemetry: true

      - script: pytest test_snowflake_connector.py 
        displayName: "pytest"

  - stage: SnowfalkeArtifact
    dependsOn: SnowfalkeTest
    jobs:
    - job: SnowfalkeArtifact
      steps:
      - task: PublishPipelineArtifact@1
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)'
          artifact: 'drop'
          publishLocation: 'pipeline'
