trigger:
- dev

pool:
  vmImage: ubuntu-latest
variables:
  - group: 'sfkey-group'
  - name: PhytonVersion
    value: '3.9'

stages:
  - stage: Snowfalke-Test
    jobs:
    - job: Snowfalke-Test
      steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '$(PhytonVersion)'
          displayName: 'Use Python $(PhytonVersion)'
      - script: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        displayName: 'Install dependencies'
      - task: replacetokens@5
        inputs:
          targetFiles: 'secret_dev.json'
          encoding: 'auto'
          tokenPattern: 'default'
          writeBOM: true
          actionOnMissing: 'warn'
          keepToken: false
          actionOnNoFiles: 'continue'
          enableTransforms: false
          enableRecursion: false
          useLegacyPattern: false
          enableTelemetry: true
      - script: pytest test_snowflake_connector.py 
        displayName: "pytest"

  - stage: Snowfalke-Artifact
    dependsOn: Snowfalke-Test
    jobs:
    - job: Snowfalke-Artifact
      steps:
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)'
            artifact: 'drop'
            publishLocation: 'pipeline'
